html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(100, 100, 100);
}

header {
    padding-top: 10px;
    background-color: white;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding-bottom: 5px;
    z-index: 6;
}

nav {
    position: fixed;
    padding-left: 15%;
    top: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 7;
}

footer {
    padding-top: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: black;
}

h2 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.middleme {
    text-align: center;
}

.break {
    width: auto;
    background-color: rgba(0, 0, 0, 0.1);
    height: 60px;
}

.content_img {
    border: white;
    border-style: solid;
    border-width: 4px 6px;
    position: relative;
}

.content_img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
    z-index: 5;
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 84px;
    }
}

p {
    font-size: 20px;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    text-shadow: black;
}

a {
    color: black;
    text-decoration: none;
}

button {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul {
    list-style-type: none;
    text-align: center;
    display: inline-flex;
    background-color: gray;
    color: white;
    padding: 0px;
    width: 100%;
}

li {
    width: 200px;
    margin: 0 auto;
}

.footer {
    color: rgb(255, 255, 255);
    padding-bottom: 8px;
    font-size: 8px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    z-index: 8;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
}

.openbtn:hover {
    background-color: lightgrey;
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    text-align: center;
    width: 80%;
    max-width: 900px;
}

.modal {
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
    z-index: 9;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    padding-top: 80px;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ffffff;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* a copy paste of my links page from my old website*/
.link-page {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    /*this needs a rework so it works on desktops and on mobile, but that is a later me problem, it needs to be like 40% on desktop, but when I do my style pass for different resolutions I'll fix that*/
}

.link-container:hover {
    background-color: white;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.link-container {
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding: 5px 10% 10px 5%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    border-color: white;
    border-style: solid;
}